
.hello{
  margin-top: 30px;
  margin-left: 10px;
  padding: 0px;
  text-align: center;
  border: 1px solid black;
  font-size: 20px;
  font-family:'Coiny',cursive;
  background: #FFA500;
}
@media only screen and (max-width: 767px){
  .container{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 20px;
    padding: 0px;
    border: 1px solid black;
    font-size: 20px;
    float:right;width:32.33%;
    font-family:'Coiny',cursive;
    background: #A9A9A9	;
    width: 79.8%;
  }
  .sonam{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    float:right;width:32.33%;
    border: 1px solid black;
    font-size: 20px;
    font-family:'Coiny',cursive;
    background: #A9A9A9	;
    width: 80%;
  }
  .karma{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    border: 1px solid black;
    font-size: 20px;
    float:right;width:32.33%;
    font-family:'Coiny',cursive;
    background: #A9A9A9	;
    width: 80%;
  }
}
@media only screen and (min-width:768px) and (max-width: 991px){
  .container{
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
    border: 1px solid black;
    font-size: 20px;
    float: left;
    font-family:'Coiny',cursive;
    background: #A9A9A9	;
    width: 300px;
    height: 300px;
  }
  .sonam{
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
    border: 1px solid black;
    font-size: 20px;
    float: left;
    font-family:'Coiny',cursive;
    background: #A9A9A9	;
    width: 300px;
    height: 300px;
  }
  .karma{
    margin-top: 50px;
    margin-left: 10px;
    border: 1px solid black;
    font-size: 20px;
    float:right;width:32.33%;
    font-family:'Coiny',cursive;
    background: #A9A9A9	;
    width:85%;
    float: left;
  }
}
@media only screen and (min-width:992px){
  .container{
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    border: 1px solid black;
    font-size: 25px;
    font-family:'Coiny',cursive;
    background: #A9A9A9	;
    float:left;
    width: 30%;
  }
  .sonam{
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
    font-size: 25px;
    font-family:'Coiny',cursive;
    background: #A9A9A9	;
    float: left;
    width:30%;
  }
  .karma{
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
    font-size: 25px;
    font-family:'Coiny',cursive;
    background: #A9A9A9	;
    float: left;
    width:30%;
  }
}
